*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    margin: 15px;
    padding: 10px;
    text-align: center;
    background-color: #1A1110;

}
body .gecko-name{
    margin: 10px;
    padding: 5px;
    color: #F0F8FF;

}
marquee{
    color: #CC3333;
}
img{
    width: 60px;
    height: 60px;
}
body .min-req{
    margin: 16px;
    padding: 8px;
    color: #CC3333;
}
body .warning-note{
    margin: 10px;
    padding: 5px;
    color: red;
    box-shadow: #483C32;
    border:#483C32 1.5px solid;
    border-radius: 8px;
    width: 100pct;
    height: 100pct;
    background-color: black;
}
body .info{
    display: block;
    width: 100pct;
    height: 100pct;
    margin: 15px;
    padding: 8px;
    color: white;
    background-color: #013220;
    border: solid 1.5px #013220;
    border-radius: 5px;
    box-shadow: 20px;

}
body .faqs-title{
    margin: 10px;
    padding: 5px;
    border: solid 1.5px #C2B280;
    background-color: #C2B280;
    border-radius: 5px;
    box-shadow: 20px #C2B280;
}
body .faqs-all{
    margin: 10px;
    padding: 5px;
    color: white;
    background:#013220;
    border: #013220 solid 1.5px;
    border-radius: 5px;
    box-shadow: #013220 20px;
}
li{
    list-style-type: none;
    margin: 6px;
    padding: 3px;
}
input{
    width: 100pct;
    height: 100pct;
    border-radius: 5px;
    background-color: #353839;
    color: #F2F3F4;
    text-align: center;
    margin: 12px;
    padding: 6px;
}
body svg{
    margin: 10px;
    padding: 5px;
    background-color: #013220;
    border: #013220 solid 1.5px;
    border-radius: 2.5px;
    box-shadow: #013220 20px;
    color: #FF7538;
}
button{
    margin: 10px;
    padding: 5px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #C21E56;
}
body .send-optn{
    width: 100pct;
    height: 100pct;
    margin: 16px;
    padding: 8px;
    background-color: #013220;
    box-shadow: #013220 20px;
    border-radius: 5px;
}
body .receive-optn{
    width: 100pct;
    height: 100pct;
    margin: 16px;
    padding: 8px;
    background-color: #013220;
    box-shadow: #013220 20px;
    border-radius: 5px;
}
body option{
    background-color: #40E0D0;
}
body .swap-optn{
    margin: 16px;
    padding: 8px;
    background:#013220;
    box-shadow: #013220 20px;
    border-radius: 5px;
}
body .refund-optn{
    margin: 16px;
    padding: 8px;
    color: white;
    background:#013220;
    box-shadow: #013220 20px;
    border-radius: 5px;
}
body .tos-title {
    margin: 10px;
    padding: 5px;
    border: solid 1.5px #C2B280;
    background-color: #C2B280;
    border-radius: 5px;
    box-shadow: 20px #C2B280;
}
body .privacy-title{
    margin: 10px;
    padding: 5px;
    border: solid 1.5px #C2B280;
    background-color: #C2B280;
    border-radius: 5px;
    box-shadow: 20px #C2B280;
}
body .privacy-all{
    margin: 10px;
    padding: 5px;
    color: white;
    background:#013220;
    border: #013220 solid 1.5px;
    border-radius: 5px;
    box-shadow: #013220 20px;

}
body .tos-all{
    margin: 10px;
    padding: 5px;
    color: white;
    background:#013220;
    border: #013220 solid 1.5px;
    border-radius: 5px;
    box-shadow: #013220 20px;

}
h2{
    margin: 16px;
    padding: 8px;
}
h1{
    margin: 16px;
    padding: 8px;
}
body a {
    margin: 6px;
    padding: 3px;
    color: #4B0082;
}
a:hover{
    color: red;
}
body label{
    color: white;
}
body .footer-content{
    color: white;
}
div .copy-right{
    margin: 10px;
    padding: 5px;
    color: white;
}




